* {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #3aa794;
    color: #fff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  
  #info {
    font-family: Garamond, serif;
  }